---
import config from "@/config";
---

<div class="mt-8">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo={config.giscus.repo}
    data-repo-id={config.giscus.repoId}
    data-category={config.giscus.category}
    data-category-id={config.giscus.categoryId}
    data-mapping={config.giscus.mapping}
    data-strict={config.giscus.strict}
    data-reactions-enabled={config.giscus.reactionsEnabled}
    data-emit-metadata={config.giscus.emitMetadata}
    data-input-position={config.giscus.inputPosition}
    data-theme="preferred_color_scheme"
    data-lang={config.giscus.lang}
    data-loading={config.giscus.loading}
    crossorigin="anonymous"
    async
  ></script>
</div>

<script is:inline>
  function updateGiscusTheme() {
    const theme = document.documentElement.classList.contains("dark") ? "dark" : "light"
    const iframe = document.querySelector("iframe.giscus-frame")
    if (!iframe) return
    iframe.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, "https://giscus.app")
  }

  const observer = new MutationObserver(updateGiscusTheme)
  observer.observe(document.documentElement, { attributes: true, attributeFilter: ["class"] })

  window.onload = () => {
    updateGiscusTheme()
  }
</script>
